


<!-- <form  class="newsletter-form is-responsive" action="https://go.textual.com/incomingSub/hotel-collection" method="post" id="TXTL_embeddedOptinForm">
          
      

        <div class="field is-stretched-width is-full-width">
              <label class="label newsletter__text is-sr-only" for="TXTL_registerPhoneInput">Cell Phone</label>
              <input id="TXTL_registerPhoneInput" class="input is-primary-btn-style is-regular" type="text" name="phone" placeholder="(XXX) XXX-XXXX">
          </div>
          <div class="TXTL_agreeToTerms" style="padding: 2% 0 5% 0;">
              <input id="TXTL_agreeToTerms" type="checkbox" required="true">
                <span class="partial partialTermsText">
                      By providing your mobile number, you consent to receive text message promotions and product campaigns from Aroma360 (Powered By Textual). No purchase necessary. Reply STOP to cancel, HELP for help. Msg&amp;data rates may apply. <a href="/common/g-terms/aroma360" target="_blank">Click to view Privacy Policy &amp; Terms.</a>
          		</span>
          </div>
          <div class="TXTL_buttonWrap field is-default-width is-align-self-end">
      
               <div class="control">
                  {#% assign button_label = 'Get Text Discounts' %}
                  {#% render 'button',
                          label: button_label,
                          type: "get sms",
                          style: settings.form_button_style,
                          class: 'is-within-form'
                  %}
               </div>
          </div>
    
 </form> -->

<div class="klaviyo-form-Ypw8dG"></div>