<main id="template-{{ template | replace: '.', '-' | handle }}" class="shopify-section loyaltyProgram-page  faq-page" data-check-for-order="true">
    {% section 'page-loyaltyProgram__heroSection' %}
    {% section 'page-loyaltyProgram__howToEarn' %}
    {% section 'page-loyaltyProgram__redeemRewards' %}
    {% section 'page-loyaltyProgram__imageWithTextOverlay' %}
    {% section 'page-loyaltyProgram__tierOverview' %}
    {% section 'page-loyaltyProgram__referAndEarn' %}
    {% section 'page-loyaltyProgram__faqs' %}
</main>
